SequenceLibraryScreen #sequence-library {
    height: 1fr;
}

SequenceLibraryScreen #sequence-navigation {
    width: 36;
    padding: 1;
    background: $panel;
}

SequenceLibraryScreen #sequence-tree {
    height: 1fr;
    border: round $primary;
    border-title-color: $text-accent;
}

SequenceLibraryScreen #sequence-content {
    width: 1fr;
    padding: 1 2;
}

SequenceLibraryScreen #sequence-preview {
    height: 1fr;
    padding: 1 2;
    background: $surface;
    border: round $primary;
    border-title-color: $text-accent;
}
